.card {
    padding: 24px;

    &.primary {
        background: #f9e4f3;
        border: 1px solid #CAC4D0;
        border-radius: 12px;
    }

    &.secondary {
        background: #ffabf3;
        border-radius: 16px;
    }
}